* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: aliceblue;
}

header {
    padding: 24px 0;
    text-align: center;
}

form {
    margin: 0 auto;
    max-width: 360px;
}

.form-campo {
    margin-bottom: 18px;
}

.form-campo label {
    font-weight: bold;
    display: block;
}

.form-campo input {
    width: 100%;
    display: block;
    padding: 8px;
}

form button {
    display: block;
    width:  100%;
    padding: 8px;
    border: none;
    background-color: #3aa4ff;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 6px;
}

form p {
    padding-top: 8px;
    font-weight: bold;
    text-align: end;
}


